@charset "UTF-8";
/* Переменные (через $) */
/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper {
  /*Максимальная ширина страницы и выравнивание содержимого по центру*/
  width: 1440px;
  margin: 0 auto;
  /* Обёртка для прижатия подвала к нижней части */
}
.wrapper-container {
  padding: 0 159px;
  box-sizing: border-box;
}
.wrapper-forcontent {
  min-height: 100vh; /* 100 видимых высот */
  display: flex;
  flex-direction: column;
}

/* end === wrapper === end */
/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer {
  flex-grow: 1; /* Отношение блоков */
}

/* end === content-without-footer === end */
.header {
  display: flex;
  padding: 25px 0;
}
.header-logo {
  text-decoration: none;
  display: flex;
}
.header-logo-img {
  width: 40px;
  height: 40px;
}
.header-logo-text {
  display: block;
  align-self: center;
  color: #173a56;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  margin-left: 16px;
  margin-right: 237px;
}
.header-menu {
  display: flex;
  list-style-type: none;
}
.header-menu-li {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
  margin-right: 25px;
  width: 64px;
  text-align: center;
  align-self: center;
  cursor: pointer;
  transition: font-weight 0.1s ease;
}
.header-menu-li-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 25px;
  box-sizing: border-box;
  transition: background-color 0.8s ease, color 0.8s ease;
}
.header-menu-li-btn:hover {
  background-color: #02897a;
  color: #ffffff;
}
.header-menu-li-btn:active {
  background-color: red;
  color: black;
}
.header-menu-li-light {
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  border-radius: 100%;
  border: 1px solid #f3f3f3;
  position: relative;
}
.header-menu-li-light-svg {
  position: absolute;
  top: 3px;
  left: 3px;
  fill: #02897a;
  transition: background-color 0.8s ease, fill 0.8s ease;
}
.header-menu-li-light:hover {
  background-color: #02897a;
}
.header-menu-li-light:hover > .header-menu-li-light-svg {
  fill: #f3f3f3;
}
.header-menu-li-light:active {
  background-color: red;
}
.header-menu-li-light:active > .header-menu-li-light-svg {
  fill: black;
}
.header-menu-li:nth-child(5) {
  width: auto;
}
.header-menu-li:nth-child(6) {
  width: auto;
}
.header-menu-li:last-child {
  width: auto;
  margin-right: 0;
}
.header-menu-li:hover {
  font-weight: 600;
}

.face {
  padding: 145px 0 218px;
  box-sizing: border-box;
  background-image: url(../image/bgSection1.jpg);
  background-repeat: no-repeat;
  background-position: 430px 35px;
}
.face-title {
  display: block;
  width: 310px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
}
.face-text {
  width: 375px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
  margin-bottom: 45px;
}
.face-transition {
  margin: 0;
}
.face-transition-btn {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 41px;
  box-sizing: border-box;
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  margin-right: 30px;
}
.face-transition-svg {
  width: 20px;
  height: 17px;
  margin-right: 8px;
  fill: #02897a;
}
.face-transition-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #02897a;
}/*# sourceMappingURL=slyle.css.map */