

/* mixin */

@mixin FontSize($poppins: poppins-bold, $size-format: 700, $fonts: 40px, $linehe: 60px) {
    font-family: $poppins;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}