/* Переменные (через $) */
$logo-color: #173a56;
$main-color: #22343d;
$border-btn: #bcd0e5;
$bg-active-btn: #02897a;

/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper{
    /*Максимальная ширина страницы и выравнивание содержимого по центру*/
    width: 1440px;
    // Выравнивание страницы по центру
    margin: 0 auto;

    //Отступы по краям
    &-container {
        padding: 0 159px;
        box-sizing: border-box;
    }
    
    /* Обёртка для прижатия подвала к нижней части */
    &-forcontent{
        min-height: 100vh; /* 100 видимых высот */
        display: flex;
        flex-direction: column;
    }
}
/* end === wrapper === end */



/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer{
    flex-grow:1; /* Отношение блоков */
}
/* end === content-without-footer === end */