// Подключение файла scss с переменными
@import "./variables";

.header {
    display: flex;
    padding: 25px 0;

    &-logo {
        text-decoration: none;
        display: flex;

        &-img {
            width: 40px;
            height: 40px;
        }

        &-text {
            display: block;
            align-self: center;
            color: $logo-color;
            font-weight: 700;
            font-size: 30px;
            line-height: 28px;
            margin-left: 16px;
            margin-right: 237px;
        }
    }

    &-menu {
        display: flex;
        list-style-type: none;

        &-li {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $main-color;
            margin-right: 25px;
            width: 64px;
            text-align: center;
            align-self: center;
            cursor: pointer;
            transition: font-weight 0.1s ease;

            &-btn {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                background-color: white;
                border: 1px solid $border-btn;
                border-radius: 4px;
                padding: 10px 25px;
                box-sizing: border-box;
                transition: background-color 0.8s ease,
                        color 0.8s ease;

                &:hover {
                    background-color: $bg-active-btn;
                    color: #ffffff;
                }

                &:active {
                    background-color: red;
                    color: black;
                }
            }

            &-light {
                width: 32px;
                height: 32px;
                background-color: #f3f3f3;
                border-radius: 100%;
                border: 1px solid #f3f3f3;
                // Фиксация блока для выравнивания
                // svg картинки
                position: relative;

                &-svg {
                    // ВЫравнивание svg картинки относительно
                    // родительского блока
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    fill: $bg-active-btn;
                    transition: background-color 0.8s ease,
                        fill 0.8s ease;
                }

                // Анимация кнопки переключения цвета
                &:hover {
                    background-color: $bg-active-btn;

                    & > .header-menu-li-light-svg {
                        fill: #f3f3f3;
                    }
                }

                &:active {
                    background-color: red;

                    & > .header-menu-li-light-svg {
                        fill: black;
                    }
                }
            }

            &:nth-child(5) {
                width: auto;
            }

            &:nth-child(6) {
                width: auto;
            }

            &:last-child {
                width: auto;
                margin-right: 0;
            }

            &:hover {
                font-weight: 600;
                
            }
        }
    }
}


.face {
    padding: 145px 0 218px;
    box-sizing: border-box;
    background-image: url(../image/bgSection1.jpg);
    background-repeat: no-repeat;
    background-position: 430px 35px;

    &-title {
        display: block;
        width: 310px;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: $main-color;
    }

    &-text {
        width: 375px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $main-color;
        margin-bottom: 45px;
    }

    &-transition {
        margin: 0;

        &-btn {
            color: #ffffff;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            padding: 15px 41px;
            box-sizing: border-box;
            background-color: $bg-active-btn;
            border-radius: 4px;
            border: none;
            margin-right: 30px;
        }

        &-svg {
            width: 20px;
            height: 17px;
            margin-right: 8px;
            fill: $bg-active-btn;
        }

        &-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $bg-active-btn;
        }
    }
}